.brand-name{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
/* .brand-name:hover, :focus , :visited, :link, :active, :default{
    text-decoration: none;
} */
.nav-item{
    font-family: Montserrat;
    color: #2D2D2D;
    /* font-weight: 100; */
}
.login-btn{
    margin-left: 20px;
    background-color: #FF6E40 !important;
    border: none !important;
}